@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0px;
    font-family: Poppins;
    background-color: #EAEAEA;
}

header {
    background-color: #222831;
    color: #EEEEEE;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 350px;
    margin: 30px;
    padding: 10px;
    background-color: #B1B2FF;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}

main div h3 {
    text-align: center;
    border-bottom: 2px solid;
}

.task {
    background-color: #EEF1FF;
    padding: 0.5rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
    cursor: move;
    border-radius: 10px;
}
.task-id {
    font-size: 12px;
    font-weight: 600;
    color: #16213E;
}
.name {
    font-weight: 600;
    word-wrap: break-word;
    background-color: rebeccapurple;
    color: white;
    padding: 5px;
    border-radius: 5px;
    /* margin: -5px 0px; */
}

.deadline {
    display: inline-block;
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    word-wrap: break-word;
    border: 2px solid red;
    border-radius: 20px;
    font-size: 10px;
    color: red;
    font-weight: 600;
    /* margin: -15px 0px; */
}

.assignee {
    /* background-color: rebeccapurple; */
    width: 200px;
    text-align: center;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-weight: 600;
    /* border-radius: 5px; */
    /* padding: 5px 10px; */
    font-size: 16px;
    word-wrap: break-word;
    /* margin-left: 160px; */
}

.description {
    word-wrap: break-word;
    font-size: 14px;
    background-color: rgb(203, 206, 209);
    border-radius: 5px;
    padding: 10px;
}

/* MODAL */
.modal-bg {
    position: fixed;
    z-index: 5;
    background-color: #00000044;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

    display: none;
}

.my-modal {
    background-color: white;
    width: 400px;
    margin: auto;
}

.my-modal form {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem 1rem 3rem;
}

.my-modal input,
textarea {
    margin: 0.3rem 0rem 0.3rem 0rem;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    resize: none;
}

.form-heading {
    border-bottom: #222831 solid 2px;
}

.my-modal button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.task-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px 0px;
}
.edit-btn {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #1C6758;
    color: white;
    cursor: pointer;
}

.delete-btn {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #D2001A;
    color: white;
    cursor: pointer;
}
#todo-btn, #backlogs-btn, #progress-btn, #testing-btn, #done-btn {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #181818;
    color: white;
    cursor: pointer;
}
.view-modal {
    display: flex;
}

.hold {
    border: solid red 2px;
    opacity: 5px;
}

.unhold {
    display: none;
}

/* .hold-enter { */
    /* background-color: yellow;
    border: dashed green 1px;
} */